@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'fontawesome';
  src: url('../Fonts/fontawesome-webfon.eot');
  src: local('☺'), url('../Fonts/fontawesome-webfon.woff') format('woff'), url('../Fonts/fontawesome-webfon.ttf') format('truetype'), url('../Fonts/fontawesome-webfon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MYRIADPRO';
  src: url('../Fonts/MYRIADPRO-REGULAR.eot');
  src: local('☺'), url('../Fonts/MYRIADPRO-REGULAR.woff') format('woff'), url('../Fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), url('../Fonts/MYRIADPRO-REGULAR.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../Fonts/Gotham-Book.eot');
  src: local('☺'), url('../Fonts/Gotham-Book.woff') format('woff'), url('../Fonts/Gotham-Book.ttf') format('truetype'), url('../Fonts/Gotham-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../Fonts/Gotham-Medium.eot');
  src: local('☺'), url('../Fonts/Gotham-Medium.woff') format('woff'), url('../Fonts/Gotham-Medium.ttf') format('truetype'), url('../Fonts/Gotham-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../Fonts/Gotham-Bold.eot');
  src: local('☺'), url('../Fonts/Gotham-Bold.woff') format('woff'), url('../Fonts/Gotham-Bold.ttf') format('truetype'), url('../Fonts/Gotham-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}