@import "variables";

//это первый проект из без очертания блоков тяжело ....
//и очертания то нужны то нет будет глобальная переменная
//исходя из которой будут линии или нет
@mixin showBorderBlock($width, $style, $color){
  @if ($isShowBorderBlock == 1) {
    border: $width $style $color;
  }

  @if ($isFillContainer == 1) {
    background-color: $color;
  }
}

@mixin posLogoHeader($x, $y) {
  $y: $y - 25;
  padding: $y+15 0px 0px $x+10;
  width: 85px;
  background: url('../img/header/logo/Rectangle9copy.jpg') $x $y no-repeat, url('../img/header/logo/Rectangle9.png') $x+12 $y+9 no-repeat;
  //text-align: center;

  font-size: 38.349px;
  font-family: "Open Sans";
  color: rgb(245, 245, 245);
  font-weight: bold;
  text-transform: uppercase;
}

@mixin scrollBtn($side){
  width: $side;
  height: $side;
  line-height: $side;
  border: 1px solid white;
  border-radius: 50%;
}

@mixin headBlogTeamCont($colorCh, $colorTitle){
  //background-color: white;
  padding-bottom: 130px;
  padding-top: 90px;
  font-family: "Gotham";

  &__heading {
    @include showBorderBlock(1px, solid, black);
    display: flex;
    justify-content: center;
    align-items: center;
    //text-align: center;
    //position: relative;
  }

  &__headingCh {
    @include showBorderBlock(1px, solid, green);
    //color: rgba(34, 34, 34, 0.18);
    color: $colorCh;
  }

  &__headingTitle {
    @include showBorderBlock(1px, solid, red);
    //color: rgb(34, 34, 34);
    color: $colorTitle;
    //left: $left;
  }

  &__headingText {
    @include showBorderBlock(1px, solid, black);
    font-size: 30px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    margin-bottom: 80px;
    text-align: center;
  }
}