$html-font-size: 14px;

//от ладочные переменные
//показывать ли границы и делать ли заливку
$isShowBorderBlock: 1;
$isFillContainer: 0;

//хэдер отступ по вертикали
$HeaderPaddingTop: 46px;

//ширина страницы
$pageWidth: 1600px;

//ширина контента страницы
$containerWidth: 1170px;

$footerHeight: 115px;

$widthBurger: 38px;

$shiftBurgerCross: 13px;