//Шрифты используемые на странице
@import "fonts";

//Файл обнуляющих стилей
@import "nullstyle";

div {
  p {
    margin: 0px 0px 30px 0;
  }

  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  .text {
    font-family: "Gotham";
  }
}


