//Шрифты используемые на странице
@import "fonts";

//Файл обнуляющих стилей
@import "nullstyle";

//@import "all.min";

@import "mixins";

//@import "variables";

body {
  max-width: 1600px;
  margin: 0px auto; //такое сочетание дает оцентровку
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $containerWidth;
  margin: 0px auto; //такое сочетание дает оцентровку
  //@include showBorderBlock(1px, solid, red);
  @include showBorderBlock(1px, solid, red);
}

.header {
  background: url("../img/header/background/desktop.jpg") 0 0/cover no-repeat;
  @include showBorderBlock(1px, solid, red);
  height: 880px;

  &__underLine {
    border-bottom: 2px solid #3b3a38;
  }

  &__row {
    display: flex;
    //height: 116px;
  }

  &__logo {
    @include posLogoHeader(0px, $HeaderPaddingTop);
    @include showBorderBlock(1px, solid, red)
  }

  &__nav {
    @include showBorderBlock(1px, solid, red);
    flex: 1 1 auto;
    //padding: $HeaderPaddingTop 0;
    margin-left: 200px;
  }

  &__navList {
    @include showBorderBlock(1px, solid, white);
    font-size: 20px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    //padding-top: 55px;
    display: flex;
    justify-content: space-around;
    //justify-content: flex-end;
    //padding: $HeaderPaddingTop 0;
    li {
      @include showBorderBlock(1px, solid, green);
      padding: $HeaderPaddingTop 0;
      //flex-basis: 125px;
    }

    a {
      @include showBorderBlock(1px, solid, red);
      padding: $HeaderPaddingTop 0px;
    }

    a:visited {
      color: rgb(255, 255, 255);
    }

    a:hover {
      border-bottom: 6px solid #11749e;
    }
  }

  &__socialIcon {
    @include showBorderBlock(1px, solid, red);
    padding: $HeaderPaddingTop 0;
    width: 145px;
  }

  &__socialIconList {
    @include showBorderBlock(1px, solid, red);
    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-family: "FontAwesome";
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    line-height: 1.2;

    a:visited {
      color: rgb(245, 245, 245);
    }

  }

  &__creative {
    @include showBorderBlock(1px, solid, white);
    padding: 250px 0 0;
    text-align: center;
    //font-size: 38.349px;
    font-size: 143px;
    font-family: "Gotham";
    color: rgb(245, 245, 245);
    font-weight: bold;
    text-transform: uppercase;
    //line-height: 1.2;
    //-moz-transform: matrix(3.97783215408801, 0, 0, 3.97783215408801, 0, 0);
    //-webkit-transform: matrix(3.97783215408801, 0, 0, 3.97783215408801, 0, 0);
    //-ms-transform: matrix(3.97783215408801, 0, 0, 3.97783215408801, 0, 0);
  }

  &__power {
    @include showBorderBlock(1px, solid, green);
    padding: 20px 0 0;

    font-size: 30px;
    font-family: "Gotham";
    color: rgb(17, 116, 158);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 15px;
    //line-height: 2.065;
    text-align: center;
    //-moz-transform: matrix(2.32693667861363, 0, 0, 2.32693667861363, 0, 0);
    //-webkit-transform: matrix(2.32693667861363, 0, 0, 2.32693667861363, 0, 0);
    //-ms-transform: matrix(2.32693667861363, 0, 0, 2.32693667861363, 0, 0);
  }

  &__scroll {
    @include showBorderBlock(1px, solid, green);
    text-align: center;
    //display: flex;
    //flex-direction: column;
  }

  &__scrollTitle {
    @include showBorderBlock(1px, solid, red);
    padding: 116px 0px 22px;
    font-size: 13px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);

  }

  &__scrollBtn {
    @include showBorderBlock(1px, solid, white);

    font-size: 30px;
    font-weight: bold;
    font-family: "FontAwesome";
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    @include scrollBtn(60px);
    margin: 0px auto; //такое сочетание дает оцентровку
  }
}


.aboutAgency {
  @include showBorderBlock(1px, solid, red);
  background-color: #11749e;
  padding-bottom: 130px;

  &__heading {
    @include showBorderBlock(1px, solid, green);
    position: relative;
  }

  &__headingCh {
    @include showBorderBlock(1px, solid, green);
    //font-size: 30px;
    font-size: 250px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.18);
    font-weight: bold;
    text-align: center;
    //-moz-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
    //-webkit-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
    //-ms-transform: matrix( 8.23928436410974,0,0,8.23928436410975,0,0);
  }

  &__headingTitle {
    @include showBorderBlock(1px, solid, white);
    position: absolute;
    top: 130px;
    left: $containerWidth/2;
    //padding: 0 400px;
    font-size: 30px;
    font-family: "Gotham";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    //-moz-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
    //-webkit-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
    //-ms-transform: matrix( 1.87750648589851,0,0,1.87750648589851,0,0);
  }

  &__row {
    @include showBorderBlock(1px, solid, white);
    display: flex;
  }

  &__column {
    @include showBorderBlock(1px, solid, red);
    text-align: center;
    margin-right: 30px;
  }

  &__column:last-child {
    margin-right: 0px;
  }

  &__columnIcon {
    @include showBorderBlock(1px, solid, yellow);

    //@include scrollBtn(60px);
    //margin: 0px auto; //такое сочетание дает оцентровку
    //border-radius: 50%;
  }

  &__columnTitle {
    @include showBorderBlock(1px, solid, red);

    font-size: 18px;
    font-family: "Gotham";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2;
  }

  &__columnText {
    @include showBorderBlock(1px, solid, white);

    font-size: 15px;
    font-family: "Gotham";
    color: rgb(255, 255, 255);
    line-height: 1.6;
  }
}

.news {
  @include showBorderBlock(1px, solid, red);

  &__items {
    display: flex;
    flex-wrap: wrap;

  }

  &__item {
    @include showBorderBlock(1px, solid, red);
    flex: 1 1 750px;
    padding: 70px 0 0 0;
  }

  &__item-date {
    font-size: 13px;
    font-family: "Gotham";
    //color: rgb(255, 255, 255);
    line-height: 1.846;
    text-align: left;
  }

  &__item-title {
    font-size: 25px;
    font-family: "Gotham";
    //color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.44;
    text-align: left;
    padding: 10px 0 30px 0;
  }

  &__item-text {
    font-size: 15px;
    font-family: "Gotham";
    //color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: left;

    p{
      padding-bottom: 35px;
    }

    p:last-child{
      padding-bottom: 0px;
    }
  }

  &__item-img {
    flex: 0 0 750px;
  }

  &__item_1 {
    @include showBorderBlock(1px, solid, green);
    padding-left: ($pageWidth - $containerWidth)/2;
    padding-right: 110px;
    background-color: #222222;
    color: rgb(255, 255, 255);
  }

  &__item_4 {
    @include showBorderBlock(1px, solid, green);
    padding-left: 110px;
    padding-right: ($pageWidth - $containerWidth)/2;
    background-color: #f3f3f3;
    color: rgb(34, 34, 34);
  }

}