//Шрифты используемые на странице
@import "fonts";

//Файл обнуляющих стилей
@import "nullstyle";

//@import "all.min";

@import "mixins";

//@import "variables";

body {
  max-width: $pageWidth;
  //min-width: 1600px;
  margin: 0px auto; //такое сочетание дает оцентровку
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: px-to-rem($containerWidth);
  margin: 0px auto; //такое сочетание дает оцентровку
  //@include showBorderBlock(1px, solid, red);
  @include showBorderBlock(1px, solid, red);
}

//@media (max-width: 1200px) {
//  .container {
//    max-width: 970px;
//  }
//}
//
//@media (max-width: 992px) {
//  .container {
//    max-width: 750px;
//  }
//}
//
//@media (max-width: 767px) {
//  .container {
//    max-width: 750px;
//  }
//}

@media (max-width: 960px) {
  html {
    font-size: 11px;
  }
}


@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 5px;
  }
}


.header {
  background: url("../img/header/background/desktop.jpg") 0 0/cover no-repeat;
  @include showBorderBlock(1px, solid, red);
  height: px-to-rem(880px);

  &__menu {
    @include showBorderBlock(1px, solid, white);
    display: flex;
    flex: 1 1 auto;
  }

  &__burger {
    display: none;

  }

  &__underLine {
    border-bottom: 2px solid #3b3a38;
  }

  &__row {
    display: flex;
    @media (max-width: 768px) {
      align-items: center;
    }
    //height: 116px;
  }

  &__logo {
    @include posLogoHeader(0px, $HeaderPaddingTop);
    @include showBorderBlock(1px, solid, red);
  }

  &__nav {
    @include showBorderBlock(1px, solid, red);
    flex: 1 1 auto;
    //padding: $HeaderPaddingTop 0;
    margin-left: px-to-rem(200px);
  }

  &__navList {
    @include showBorderBlock(1px, solid, white);
    font-size: px-to-rem(20px);
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    display: flex;
    justify-content: space-around;

    li {
      @include showBorderBlock(1px, solid, green);
      padding: px_to-rem($HeaderPaddingTop 0);
      //flex-basis: px_to-rem(125px);
    }

    a {
      @include showBorderBlock(1px, solid, red);
      padding: $HeaderPaddingTop 0px;
      color: rgb(255, 255, 255);
      //transition-duration: 0.5s;
    }

    a:visited {
      color: rgb(255, 255, 255);
    }

    a:hover {
      border-bottom: 6px solid #11749e;
    }
  }

  &__socialIcon {
    @include showBorderBlock(1px, solid, green);
    padding: $HeaderPaddingTop 0;
    flex: 0 0 px-to-rem(145px);
  }

  &__socialIconList {
    @include showBorderBlock(1px, solid, red);
    display: flex;
    justify-content: space-between;

    font-size: px-to-rem(20px);
    font-family: "FontAwesome";
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    line-height: 1.2;

    a:visited {
      color: rgb(245, 245, 245);
    }

  }

  &__creative {
    @include showBorderBlock(1px, solid, white);
    padding: px-to-rem(250px 0px 0px);
    text-align: center;
    //font-size: 143px;
    font-size: px-to-rem(143px);
    font-family: "Gotham";
    color: rgb(245, 245, 245);
    font-weight: bold;
    text-transform: uppercase;
  }

  &__power {
    @include showBorderBlock(1px, solid, green);
    padding: px-to-rem(20px 0 0);

    font-size: px-to-rem(30px);
    font-family: "Gotham";
    color: rgb(17, 116, 158);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: px-to-rem(15px);
    text-align: center;
  }

  &__scroll {
    @include showBorderBlock(1px, solid, green);
    text-align: center;
    //display: flex;
    //flex-direction: column;
  }

  &__scrollTitle {
    @include showBorderBlock(1px, solid, red);
    padding: px-to-rem(116px 0px 22px);
    font-size: px-to-rem(13px);
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
  }

  &__scrollBtn {
    @include showBorderBlock(1px, solid, white);

    font-size: px-to-rem(30px);
    font-weight: bold;
    font-family: "FontAwesome";
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    @include scrollBtn(px-to-rem(60px));
    margin: 0px auto; //такое сочетание дает оцентровку
  }

  @media (max-width: 768px) {
    &__row {
      justify-content: space-between;
      height: 60px
    }
    &__burger {
      display: block;
      position: relative;
      width: $widthBurger;
      height: $widthBurger - 10;
      @include showBorderBlock(1px, solid, red);
    }
    &__burger span {
      position: absolute;
      background-color: white;
      left: 0;
      width: 100%;
      height: 2px;
      top: ($widthBurger - 10)/2 - 1;
    }
    &__burger:before,
    &__burger:after {
      content: '';
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    &__burger:before {
      top: 0;
    }
    &__burger:after {
      bottom: 0;
    }
    &__burger:hover{
      .header__burgerMenu{
        display: block;
      }
    }
    &__burgerMenu {
      @include showBorderBlock(3px, solid, white);
      display: none;
      flex-direction: column;
      position: absolute;
      top: 30px;
      //width: 150px;
      left: -190px;
      //left: 0;
      background-color: rgb(0, 0, 0, 0.6);
      flex: 1 1 auto;
    }
    &__menu{display: none}
    &__nav {
      margin-left: 0;
      //flex: 1 1 auto;
    }
    &__navList {
      flex-direction: column;
      text-align: center;
      line-height: 1;

      li {
        padding: 0px 0px 15px 0px;
      }

      a {
        padding: 0px;
        color: rgb(255, 255, 255);
        font-size: 25px;
      }
    }
    &__socialIcon {
      padding: 0;
      flex: 0 0 auto;
    }
    &__socialIconList {
      justify-content: center;
      font-size: 30px;

      li {
        padding: 0 15px;
      }
    }
  }

}

.aboutAgency {
  @include showBorderBlock(1px, solid, red);
  background-color: #11749e;

  @include headBlogTeamCont(rgba(255, 255, 255, 0.18), rgb(255, 255, 255));

  &__row {
    @include showBorderBlock(1px, solid, white);
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }

  &__column {
    @include showBorderBlock(1px, solid, red);
    flex: 1 1 260px;
    text-align: center;
    margin: 0 15px;
  }

  &__columnIcon {
    @include showBorderBlock(1px, solid, yellow);

    //@include scrollBtn(60px);
    //margin: 0px auto; //такое сочетание дает оцентровку
    //border-radius: 50%;
  }

  &__columnTitle {
    @include showBorderBlock(1px, solid, red);

    font-size: 18px;
    font-family: "Gotham";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2;
  }

  &__columnText {
    @include showBorderBlock(1px, solid, white);

    font-size: 15px;
    font-family: "Gotham";
    color: rgb(255, 255, 255);
    line-height: 1.6;
  }
}

.news {
  @include showBorderBlock(1px, solid, red);

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include showBorderBlock(1px, solid, red);
    flex: 1 1 px-to-rem(796px);
    //padding: 70px 0 0 0;
  }

  &__item_1 {
    @include showBorderBlock(1px, solid, green);
    padding: px-to-rem(70px 110px 0 ($pageWidth - $containerWidth)/2);
    background-color: #222222;
    color: rgb(255, 255, 255);
  }

  &__item_4 {
    @include showBorderBlock(1px, solid, green);
    padding: px-to-rem(70px ($pageWidth - $containerWidth)/2 0 110px);
    background-color: #f3f3f3;
    color: rgb(34, 34, 34);
  }

  &__item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__item-date {
    font-size: 13px;
    font-family: "Gotham";
    //color: rgb(255, 255, 255);
    line-height: 1.846;
    text-align: left;
  }

  &__item-title {
    font-size: 25px;
    font-family: "Gotham";
    //color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.44;
    text-align: left;
    padding: 10px 0 30px 0;
  }

  &__item-text {
    font-size: 15px;
    font-family: "Gotham";
    //color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: left;

    p {
      padding-bottom: 35px;
    }

    p:last-child {
      padding-bottom: 0px;
    }
  }

}

.Ch {
  font-family: "Roboto";
  font-size: px-to-rem(250px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.OverCh {
  position: absolute;
  //top: 100px;
  font-size: px-to-rem(30px);
  font-family: "Gotham";
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  //z-index: 10;
}

.blog {
  background-color: white;
  @include headBlogTeamCont(rgba(34, 34, 34, 0.18), rgb(34, 34, 34));

  &__row {
    @include showBorderBlock(1px, solid, green);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -12px;
  }

  &__column {
    @include showBorderBlock(1px, solid, green);
    flex: 1 1 px-to-rem(270px);
    margin: 0 12px;
  }

  &__columnImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__columnTitle {
    @include showBorderBlock(1px, solid, green);
    font-size: 18px;
    color: rgb(17, 116, 158);
    text-transform: uppercase;
    line-height: 2;
    text-align: center;
    padding-top: 45px;
  }

  &__columnText {
    font-size: 15px;
    color: rgb(34, 34, 34);
    line-height: 1.6;
    text-align: center;
    padding-top: 20px;
  }
}

.quick {
  @include showBorderBlock(1px, solid, red);
  background-color: #11749e;
  padding: 110px 0;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column {
    @include showBorderBlock(1px, solid, red);
    flex: 1 1 570px;
    display: flex;

  }

  &__columnIco {
    @include showBorderBlock(1px, solid, red);
    flex: 0 0 auto;
  }

  &__columnText {
    @include showBorderBlock(1px, solid, red);
    flex: 1 1 auto;
    padding: 0 20px;

    font-size: 15px;
    font-family: "Gotham";
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: left;
  }
}

.key {
  //@include showBorderBlock(1px, solid, red);
  background: url("../img/bg/bg.jpg") 0 0/cover no-repeat;
  font-family: "Gotham";
  color: white;

  &__row {
    //@include showBorderBlock(1px, solid, red);
    display: flex;
    flex-wrap: wrap;
    padding: px-to-rem(100px 0px);
  }

  &__column {
    @include showBorderBlock(1px, solid, red);
    flex: 1 1 px-to-rem(500px);
  }

  &__column_textArea {

    //padding: px-to-rem(150px 105px 150px 5px);
    padding: px-to-rem(150px 0 150px 5px);

  }

  &__column_smart {
    text-align: center;
  }

  &__textAreaTitle {
    @include showBorderBlock(1px, solid, green);
    font-size: 25px;
    text-transform: uppercase;
    //text-align: left;
  }

  &__textAreaText {
    @include showBorderBlock(1px, solid, white);
    font-size: 15px;
    line-height: 1.6;
    //padding: px-to-rem(40px 140px 40px 0);
    margin: px-to-rem(40px 100px 40px 0px);
    //text-align: left;
  }

  &__textAreaLabel {
    @include showBorderBlock(1px, solid, red);
    font-size: 15px;
    text-transform: uppercase;
    line-height: 40px;
    background-color: #11749e;
    margin-top: 25px;
    height: 40px;
    padding-left: 10px;
  }


  @for $i from 3 through 5 {
    &__textAreaLabel:nth-child(#{$i}) {
      @media (max-width: 768px) {
        width: px-to-rem(760px + $i*30);
      }
      width: px-to-rem(260px + $i*30);
      //color: red;
    }
  }


}

.team {
  background-color: white;
  @include headBlogTeamCont(rgba(34, 34, 34, 0.18), rgb(34, 34, 34));

  padding-bottom: 55px;

  &__row {
    @include showBorderBlock(1px, solid, red);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -13px;
  }

  &__column {
    @include showBorderBlock(1px, solid, red);
    //height: 486px;
    //width: 270px;
    flex: 1 1 px-to-rem(270px);
    margin: 0 13px;
  }

  //для каждой колонки накидываю BG
  @for $i from 1 through 4 {
    &__column_#{$i} {
      background: url("../img/team/#{$i}.jpg") 0 0/100% auto no-repeat;
    }
  }

  &__empItem {
    display: flex;
    flex-direction: column;
    height: px-to-rem(486px);
  }

  &__empNull {
    flex: 1 1 100%;
  }

  &__emp {
    @include showBorderBlock(1px, solid, red);
    text-align: center;
    background-color: white;
    width: px-to-rem(215px);
    height: px-to-rem(125px);
    margin: 0 auto;
    padding-top: 25px;
    flex: 0 0 auto;
    font-weight: bold;
  }

  &__name {
    font-size: px-to-rem(20px);
    color: rgb(17, 116, 158);
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__post {
    font-size: px-to-rem(15px);
    color: rgb(0, 0, 0);
    line-height: 1.6;
  }
}

.cont {
  @include headBlogTeamCont(rgba(255, 255, 255, 0.18), white);
  background: url("../img/cont/bg.jpg") 0 0/cover no-repeat;
  @include showBorderBlock(1px, solid, red);

  &__threeInput {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -15px;

    input {
      color: white;
      border: 1px solid white;
      background-color: transparent;
      padding: 15px;
      font-size: 15px;
      margin-bottom: 20px;
      margin-left: 15px;
      margin-right: 15px;
      //margin-right: 30px;
      flex: 1 1 350px;
      //flex: 1 1 30%;
      //padding: 15px 15px;
    }

  }

  textarea {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 15px;
    font-size: 15px;
    width: 100%;
    margin: 20px 0 40px;
    height: 155px;
  }

  button {
    display: block;
    @include showBorderBlock(1px, solid, red);
    height: 70px;
    width: 230px;
    margin: 0 auto;
    background-color: #11749e;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
  }
}


.footer {
  @include showBorderBlock(1px, solid, green);
  background-color: #222222;
  color: white;


  &__row {
    @include showBorderBlock(1px, solid, white);
    display: flex;
    flex-wrap: wrap;
    min-height: $footerHeight;
  }

  &__right {
    //@include showBorderBlock(1px, solid, red);
    flex: 0 0 auto;
    @include showBorderBlock(1px, solid, white);
    //line-height: 115px;
    margin: auto 0px;
  }

  &__null {
    @include showBorderBlock(1px, solid, red);
    flex: 1 0 33%;
  }

  &__img {
    @include showBorderBlock(1px, solid, red);
    flex: 0 0 auto;
    margin: auto 0px;
    //line-height: 115px;
  }

}